.container {
  height: 3.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: medium;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icon {
  /* opacity: 0.8; */
  transform: scale(1.5);
  cursor: pointer;
}
