.container {
  width: 100%;
  min-height: 100vh;
  /* padding: 3rem 2rem; */
}

.catTitle {
  color: rgb(87, 242, 190);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.item {
  display: flex;
  gap: 2.5rem;
  margin: 2rem 0 8rem 0;
}

.item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  /* position: relative; */
}

.imgContainer {
  flex: 1;
  height: 25rem;
  position: relative;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.title {
  font-size: 2.5rem;
}
.desc {
  font-size: 1.3rem;
}

.btn {
  align-self: center;
  justify-self: flex-end;
  margin: auto;
  font-size: 10rem;
}
